@{
    ViewBag.Title = "Select an Event to Edit";
}

<div class="row">
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-4">
        <div class="text-right marginTopBottom">
            <a href="@Url.Action(MVC.Convention.EditEvent(0))" class="btn btn-default mainBtn">+ Add Event</a>
        </div>
    </div>
</div>
<div class="row rowPadTop">
    <div class="col-md-12">
        <table id="eventTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#eventTable').DataTable({
                "ajax": {
                    "url": "../Convention/GetEventList",
                    "dataSrc": ""
                },
                "columns": [
                {
                    "data": "ID",
                    "visible": false,
                    "searchable": false
                },
                { "data": "Name" },
                { "data": "Description" },
                { "data": "StartDate" },
                { "data": "EndDate" }]
            });

            $('#eventTable tbody').on('click', 'tr', function () {
                var rowId = table.row(this).data().ID;
                var url = '@Url.Action("EditEvent", "Convention", new { id = "__id__" })';
                window.location.href = url.replace('__id__', rowId);
            });
        });
    </script>
}