<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Entities" connectionString="data source=conmappingdb.ckck4bfqeg26.us-west-2.rds.amazonaws.com,1433;initial catalog=ConventionMappingApplication;User ID=awsadmin;Password=wubTcN$2h1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
