@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Get started</h1>
    <p>Create a convention to begin adding information. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi velit dui, consectetur aliquam leo nec, porttitor ultrices tortor. Nulla efficitur malesuada malesuada. Morbi pulvinar volutpat felis eget aliquet. Duis quam velit, maximus id tortor vitae, euismod suscipit orci.</p>
    <p><a href="@Url.Action(MVC.Convention.Create())" class="btn btn-primary bluebtn btn-lg">Create &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Conventions</h2>
        <p>Go here to view and edit your conventions. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet rhoncus faucibus. Suspendisse ut sollicitudin sem. Ut dignissim nec urna vel volutpat.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add a Convention</h2>
        <p>Using a con-code given to you by the convention owner, add a convention to your account. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit auctor est, eget mollis dui suscipit eget.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something else</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim sem tellus, sit amet porttitor est accumsan in. Nam lorem nulla, dapibus a nisi eu, feugiat malesuada arcu. Proin at cursus nullam.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>